extends layout

block content
  h1 Clouders Recipies Book
  p This is going to be our application for AWS
  p Here are going to be a list of different resepts with pictures.
  #table-wrapper
    table#desc
      tr
        th Cooking Recipies
      tr
        td First Recipe