body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
@use postcss-nested;
@use postcss-cssnext;

#table-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#desc {
  width: 15em;
  border-collapse: collapse;
}
#desc th {
  background-color: whitesmoke;
  padding: 1em;
  text-align: left;
  border: 1px solid black;
  padding: 1em;
}
#desc td {
  border: 1px solid black;
  padding: 1em;
}
