extends layout

block content
  p This is going to be our application for AWS
  p Here are going to be a list of different recipies with pictures.
block sidebar
  .widget
    h1 Widget
    p something something
    p this could be you
    div
  script console.log('taa on parasta')