doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    body
    header
      h1 Clouders Recipies Book
      input#Button(type='button' value='Home' onclick="location.href='/';")
      input#Button(type='button' value='Recipes' onclick="location.href='/recipies/';")
      input#Button(type='button' value='About' onclick="location.href='/about/';")
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Running on node with Express, Pug and Stylus
