extends layout

block content
 table(border='1')
  tbody
    each recipe in recipes
      tr
        td 
          a(href=("/recipe/"+recipe.title)) #{recipe.title}
          p #{recipe.year}
          p #{recipe.info.plot}